## Build folders
[Bb]in/
[Oo]bj/

## Rider
.idea/
*.sln.dotSettings

## Visual Studio
.vs/
*.user
*.rsuser

## OS
.DS_Store
Thumbs.db

## Logs
*.log

## Static libraries (generated)
wwwroot/lib/
DentalScheduler.Client/wwwroot/lib/

## Python (future AI module)
__pycache__/
venv/
.env